body {
    background-color: #222 !important;
    color: #eee !important;
}

ul {
    list-style-type: none;
}

ul ul {
    margin-left: 20px;
}

.mnavb nav {
    background: #444 !important;
}

.mcolor ul li a {
    color: #eee !important;
}

.mcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    margin: 40px auto;
    padding: 0px 20px;
}

th,
td {
    color: #eee !important;
    background-color: #333 !important;
}

.page-link {
    color: #eee !important;
    background-color: #333 !important;
}

.active span {
    color: #222 !important;
    background-color: #eee !important;
}
