{% extends "base.html" %} {% block content %} {% load custom_tags %}

<section class="mcontainer">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><a href="?ordering={% toggle_ordering current_ordering 'id' %}">ID</a></th>
                <th scope="col"><a href="?ordering={% toggle_ordering current_ordering 'name' %}">Name</a></th>
                <th scope="col"><a href="?ordering={% toggle_ordering current_ordering 'position__position_staff' %}">Position</a></th>
                <th scope="col"><a href="?ordering={% toggle_ordering current_ordering 'date_of_employment' %}">Time Employed</a></th>
                <th scope="col"><a href="?ordering={% toggle_ordering current_ordering 'salary' %}">Salary</a></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for w in table.items %}
            <tr>
                <th scope="row">{{ w.id }}</th>
                <td>{{ w.name }}</td>
                <td>{{ w.position.position_staff }}</td>
                <td>{{ w.date_of_employment }}</td>
                <td>{{ w.salary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "./includes/pagination.html" %}
</section>
{% endblock content %}
