{% extends "base.html" %} {% block content %}

<section class="mcontainer">
    <div class="mp-box">
        <div class="mp-header">
            <img class="mp-img" src="\static\cstaff\blank_profile.jpeg" alt="" />
            <div class="mp-header-text">
                <p class="mp-id">id: 8423</p>
                <p class="mp-name">name: <strong>Dave Bank</strong></p>
            </div>
        </div>
        <div class="mp-body">
            <div>
                <p>position:</p>
                <p>email:</p>
                <p>salary:</p>
                <p>date:</p>
            </div>
            <div>
                <p>Manager</p>
                <p>testowa@gmail.com</p>
                <p>$5400</p>
                <p>16.06.2024</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
